<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div >  <!-- *ngIf='budgets && budgets.length' -->
            <div class="row">
                <div class="col-md-8">Name</div>
                <div class="col-md-8">Frequency</div>
                <div class="col-md-8">Type</div>
                <div class="col-md-8">Amount</div>
                <div class="col-md-8">Additional Info</div>
            </div>
            <div class="row" *ngFor='let budget of budget'>
                    <a [routerLink]="['/budgets', budget.budgetName]">
                        {{ budget.budgetName }}
                    </a>
                <div class="col-md-8">{{ budget.frequency }}</div>
                <div class="col-md-8">{{ budget.type }}</div>
                <div class="col-md-8">{{ budget.amount }}</div>
                <div class="col-md-8">
                    <button class='btnAdditional'>
                        <span class='glyphicon glyphicon-plus'></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>