<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='budgets && budgets.length'>
                <thead>
                    <tr>
                        <th>Budget Item Name</th>
                        <th>
                            Frequency
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Amount
                        </th>
                    </tr>
                </thead>
                <tbody *ngFor='let budget of budgets'>
                    <tr>
                        <td>
                            <a [routerLink]="['/budgets', budget.budgetName]">
                                {{ budget.budgetName }}
                            </a>
                        </td>
                        <td>
                            {{ budget.frequency }}
                        </td>
                        <td>
                            {{ budget.type }}
                        </td>
                        <td>
                            {{ budget.amount }}
                        </td>
                        <td>
                            <button class='btnAdditional'>
                                <span class='glyphicon glyphicon-plus'></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>