<div class='panel panel-primary'>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <h3>{{ pageTitle }} </h3>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                    *ngIf='maintenances && maintenances.length'>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Kilometers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let maintenance of maintenances'>
                        <td>{{ maintenance.type.name }}</td>
                        <td>{{ maintenance.date }} </td>
                        <td>{{ maintenance.kilometers }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>